.modal-background {
  position: fixed;
  display: flex;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(7, 38, 70, 0.3);
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}

.modal-child {
  background-color: white;
  position: fixed;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  min-width: 400px;

  /* border: 3px solid red; */
}

.form-title-div {
  display: flex;
  justify-content: center;
  /* border: 1px solid red; */

}

.errors-list {
  display: flex;
  justify-content: center;
  color: red;
}

.form-title {
  margin-top: 30px;
  padding: 20px;
  color: #197096;
  font-size: 36px;
  font-weight: bold;

  /* border: 1px solid red; */
}

.login-form {
  margin-top: 30px;
  margin-bottom: 70px;
  margin-left: 70px;
  margin-right: 70px;
  display: flex;
  flex-direction: column;

  /* border: 1px solid green; */
}

.signup-div {
  display: flex;

  /* border: 1px solid red; */
}

.signup-img {
  max-height: 700px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}

.signup-left-side {
  max-width: 400px;
  margin-right: 20px;
  /* border: 1px solid green; */
}

.signup-form {
  margin: 70px;
  display: flex;
  flex-direction: column;
}

.username-input, .password-input {
  margin-top: 40px;
  margin-bottom: 40px;
  color: #197096;
  border-bottom: 4px solid #eee;
  font-size: 16px;
  font-weight: 600;
  height: 36px;
  width: 300px;
}

.username-input:focus, .password-input:focus {
  border-bottom: 4px solid #197096;
}

::-webkit-input-placeholder {
  color: #aaa;
}

.demo-btn-div {
  display: flex;
  justify-content: center;
}

.demo-btn {
  margin-top: 50px;
  color: white;
  background-color: #197096;
  font-size: 20px;
  font-weight: 800;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 20px;
  outline: none;

}

.sbm-btn-div {
  display: flex;
  justify-content: center;
}

.sbm-btn {
  margin-top: 20px;
  margin-bottom: 30px;
  color: white;
  background-color: #cecece;
  font-size: 20px;
  font-weight: 800;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 20px;

  /* border: 1px solid red; */
}

.sbm-btn:hover, .demo-btn:hover {
  background-color: #ed851e;
}

.login-link-btn {
  color: #28a5dc;
  outline: none;
  position: absolute;
  bottom: 5%;
  right: 15%;

}

.signup-link-btn {
  color: #28a5dc;
  margin-bottom: 20px;
  outline: none;
  position: absolute;
  bottom: 2%;
  right: 35%;
}

.signup-link-btn:hover,
.login-link-btn:hover {
  text-decoration: underline;
}

.logout-btn {
  color: white;
  outline: none;
}