.categories-div {
    position: relative;
    padding-top: 90px;
    display: flex;
    justify-content: center;
    background: linear-gradient(315deg, rgb(31, 170, 235),
     rgb(243, 243, 195));
    height: 100vh;
    width: 90%;

    /* border: 5px solid green;
    padding-bottom: 10px; */
}

.categories-list-div {
    display: flex;
    justify-content: center;
    width: 99%;
    padding-top: 70px;

    /* border: 1px solid purple; */
    /* padding: 5px; */
}

.categories-list-left,
.categories-list-right {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin: 5px;

    /* border: 2px solid red; */
}

.categories-list-left {
    margin-left: 50px;
}

.single-category {
    margin: 10px;
    width: 90%;
    height: 150px;
    max-height: 25%;
    font-size: 40px;
    font-weight: bolder;
    border-radius: 15px;
    letter-spacing: 10px;
    word-spacing: 20px;

    /* border: 1px solid green; */
}

.single-category:hover {
    transform: translateY(-3px);
}

.single-category:hover .li-link-r, 
.single-category:hover .li-link-l {
    transform: translateY(-3px);
    color: black;
    font-family: 'Dancing Script',
    cursive;

}

.li-link-r, .li-link-l {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bolder;
    font-family: 'Courgette',
    cursive;

    /* border:  1px solid red; */
}

.l-0 {
    color: antiquewhite;
    background-color: rgb(31, 170, 235);
    /* color: #ed851e;
    background-color: #252a37; */
}

.l-0:hover {
    background: linear-gradient(-315deg, rgb(31, 170, 235),
     rgb(243, 243, 195));
}

.l-1 {
    color: antiquewhite;
    background-color: #FFDB58;
    /* color: #ed851e;
    background-color: #252a37; */
}

.l-1:hover {
    background: linear-gradient(-315deg, #FFDB58,
        rgb(243, 243, 195));
}

.l-2 {
    color: antiquewhite;
    background-color: rgb(216, 68, 31);
    /* color: #ed851e;
    background-color: #252a37; */
}

.l-2:hover {
    background: linear-gradient(-315deg, rgb(216, 68, 31),
        rgb(243, 243, 195));
    /* box-shadow: -10px 10px red; */
}

.r-0 {
    color: antiquewhite;
    background-color: #A21ED3;
    /* color: #ed851e;
    background-color: #252a37; */
}

.r-0:hover {
    background: linear-gradient(315deg, #A21ED3,
        rgb(243, 243, 195));
}

.r-1 {
    color: antiquewhite;
    background-color: rgb(54, 189, 13);
    /* color: #ed851e;
    background-color: #252a37; */
}

.r-1:hover {
    background: linear-gradient(315deg, rgb(54, 189, 13),
        rgb(243, 243, 195));
}

.r-2 {
    color: antiquewhite;
    background-color: #ed851e;
    /* color: #ed851e;
    background-color: #252a37; */
}

.r-2:hover {
    background: linear-gradient(315deg, #ed851e,
        rgb(243, 243, 195));
}

.category-title {
    cursor: default;
    position: absolute;
    top: 60px;
    padding: 10px;
    font-size: 60px;
    font-style: italic;
    color: #ed851e;
    font-weight: bolder;
    font-family: 'Courgette',
    cursive;

    /* border: 1px solid green; */
}

.category-title:hover {
    transform: translateY(-3px);
    /* animation: spin 1.5s infinite; */
}

/* @keyframes spin {
    0% {
        transform: rotateX(0deg) rotate(0deg);
    }
    50% {
        transform: rotateX(360deg) rotate(-180deg);
    }
    100% {
        transform: rotateX(720deg) rotate(0deg);
    }
} */
