.category-container {
    display: flex;
}

.quiz-main {
    padding: 10px;
    padding-top: 70px;
    display: flex;
    justify-content: center;
    background-color: rgba(229, 243, 178, 0.8);
    width: 100%;
}

.quiz-show-page-div {
    display: flex;
    flex-direction: column;
    width: 98%;
}

.quiz-toggle-category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ed851e;
    color: #252a37;
    position: sticky;
    top: 60px;
    margin-bottom: 20px;
    padding: 15px;
    padding-bottom: 25px;
    border-radius: 15px;
    z-index: 1;
    border: 5px solid #252a37;
}

.quiz-category {
    font-size: 5vw;
    font-weight: bold;
}

.quiz-order-list {
    padding: 5px;
}

.quiz-header {
    margin-bottom: 30vh;
}

.quiz-title {
    cursor: default;
    text-align: center;
    font-size: 3vw;
    font-weight: bolder;
    color: #252a37;
    margin-bottom: 40px;
    padding: 20px;
    background-color: white;
    border-radius: 50px;
    border: 5px solid #252a37;
}

.quiz-list-item {
    font-size: 2vw;
    font-weight: bolder;
    color: #ed851e;
    margin-bottom: 15px;
    align-items: center;
}

.input-div {
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.input-div > .label-input {
    cursor: pointer;
    width: 99%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: #3a445c;
    border-radius: 50px;
}

.input-div>.label-input:hover {
    transform: translateY(-3px);
    background-color: #095080;
}

.input-div > input {
    cursor: pointer;
    position: absolute;
    top: 45%;
    left: 3%;
    transform: scale(4);
    z-index: -1;
}

.green {
    background-color: rgb(169, 236, 156) !important;
    color: green;
}

.red {
    background-color: rgb(241, 136, 122) !important;
    color: rgb(219, 17, 17);
}
