.sideber-div {
  padding-top: 90px;
  padding-right: 40px;
  background: rgb(243, 243, 195);
  width: 10%;
}

.sidebar-details {
  position: sticky;
  top: 90px;
  min-width: 10%;
  padding: 10px;
}

.user-name-div {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.welcome-div {
  margin-right: 10px;
}

.mastery-points-div {
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.mp {
  font-size: 20px;
  font-weight: bold;
}

.mastery-points {
  padding: 20px;
  color: rgb(56, 247, 56);
  text-align: center;
  font-size: 40px;
}

.sidebar-categories-li {
  margin: 15px 0px 15px 0px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;

}

.sidebar-categories-li:hover {
  color: #28a5dc;
}

/* remove this line */
