.social-containers {
  display: flex;
  flex-direction: column;
  background: white;
  padding-bottom: 100%;
  padding-top: 100px;
}

.social-name {
  font-size: 22px;
  margin-bottom: 10px;
}

.social-detail-container {
  display: flex;
  flex-direction: column;
}

.links-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;

}

.link-name {
  color: #ed851e;

}

.GitHub-Logo {
  color: black;
}

.LinkedIn-Logo {
  color: black;
}