.footer-container {
  display: flex;
  justify-content: center;
  background: #252a37;

}

.footer-links-container {
  display: flex;
  flex-direction: row;
  color: white;
  padding: 30px;
}

.footer-msg {
  margin-right: 10px;
}

.links {
  margin-right: 20px;
}

.links:hover {
  color: #28a5dc;
}