.splash-container {
  background: white;
}

.header-img {
  
  
}

.panel-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  align-items: center;

}

.img1-container {
  width: 50%;
}

.panel1-details {
  width: 50%;
}

.panel-title {
  font-size: 30px;
}

.panel-paragraph {
  margin: 0px 20px 20px 20px;

}

.panel2-details {
  width: 50%;
}

.img2-container {
  width: 50%;
}

.img3-container {
  width: 50%;
}

.panel3-details {
  width: 50%;
}

.panel4-details {
  width: 50%;
}

.img4-container {
  width: 50%;
}
