.splash-container {
  /* padding-top: 100px; */
  display: flex;
  flex-direction: column;
  background: white;
}

.header-img-container {
  
}

.header-img {
  /* line-height: 1.4; */
  /* padding: 50px 0px 50px 0px; */
}

.panel-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  align-items: center;

}

.img-container {
  width: 50vw;
}

.panel-details {
  width: 50vw;
  font-size: 18px;
}

.panel-title {
  font-size: 30px;
}

.panel-paragraph {
  margin: 0px 20px 20px 20px;

}
