.navbar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #252a37;
    padding: 10px 20px 10px 10px;
    position: fixed;
    width: 100%;

    z-index: 1;
}

.logo {
    width: 200px;
}

.login-button {
    margin-right: 40px;
    color: #ccddee;
    outline: none;
}

.signup-button {
    color: #ed851e;
    margin-right: 30px;
    outline: none;
}

.login-button:hover {
    color: #28a5dc;
}

.signup-button:hover {
    color: #28a5dc;
}

.logout-button {
    margin-right: 30px;
}

.logout-btn:hover {
    color: #28a5dc;
}

.mute-div{
    display: flex;
}

#mute-button {
    margin-right: 10px;
    color: white;
}

#mute-button:hover {
    color: red;
    text-decoration: line-through;
}